<mdb-navbar SideClass="navbar navbar-dark navbar-expand-lg blue animated fadeInDown ">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
    <links>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>About</a>
            </li>
                  
        </ul>
    </links>
</mdb-navbar>

<div class="form-container">
    <img src="assets/images/lock.svg" id="lock">
  
      <span class="error" *ngIf="error">{{ error }}</span>
  
    <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
    <button (click)="loginGoogle()" id="google">Login With Google</button>
    <button routerLink="/login-email" id="email">Email</button>
  
    <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
  </div>