<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <a class="navbar-brand" routerLink="/register-truck">
    <span class="dasboard-text">Dashboard</span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/register-truck">
        <span class="user-image" style="background-image: url('assets/user.jpg')"></span>
        Hello user
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">


          <li class="nav-item">
            <a class="nav-link" routerLink="/register-truck" routerLinkActive="active">
              <i class="fas fa-plus"></i>Add Truck
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/view-trucks" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>Trucks List
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">


      </div>
    </main>

  </div>
</div> -->

<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink='/members'><strong>Home</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink='/driver'>Driver <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink='/view-trucks'>View Trucks</a>
        </li>
        <!-- <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Profile</a>
        </li> -->
      </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <ul class="navbar-nav ml-auto ">

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a routerLink='/profile' class="dropdown-item waves-light" mdbWavesEffect >My account</a>
                <a class="dropdown-item waves-light" (click)="authService.SignOut()" mdbWavesEffect>Log out</a>
              </div>
            </li>
      
          </ul>
        </div>
      </form>
    </links>
  </mdb-navbar>
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://s29755.pcdn.co/wp-content/uploads/2019/11/112019-Paccar-Used-Trucks.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Rent your Truck with our app </h1>
            <hr class="hr-light">
            <h6 class="mb-4">You can add your truck by filling the relevant details and we will pay you on trip wise basis</h6>
            <a routerLink='/register-truck'  mdbBtn color="white" mdbWavesEffect >Add Truck</a>
            <a routerLink="/view-trucks" mdbBtn color="white" outline="true" mdbWavesEffect>View Trucks</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <!-- <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://www.clipartkey.com/mpngs/m/193-1936701_delivery-truck-png.png" alt="" class="img-fluid">
          </div> -->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->


